.experience {
  float: right;
  width: 69%;
  height: 100%;
  padding: 40px;
  background-color: var(--pink);
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}

.experience > span {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
}

.experience > .card {
  padding: 15px;
  width: 40%;
  height: 47%;
  border: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.experience > .card > .job-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.experience > .card > .provider {
  font-size: 18px;
}

.experience > .card > .period {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.experience > .card > .description {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.experience > .card > button {
  color: var(--pink);
  border: 2px solid var(--white);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  width: 130px;
}
