@media only screen and (max-width: 500px) {
  .home {
    width: 100%;
    height: 80%;
    bottom: 0;
    padding: 10px;
    align-items: center;
  }
  .home > h1 {
    font-size: 80px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home > div {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .home > div > span {
    font-size: 50px;
    display: block;
    text-align: center;
  }
  .home > div > p {
    font-size: 30px;
    text-align: center;
  }
  .home > button {
    font-size: 20px;
  }
}
