@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --yellow: #ffdf2b;
  --green: #94dd26;
  --pink: #db006e;
  --gray: #999999;
  --white: #ffffff;

  /* fonts */

  --nav-name-des: 'Libre Franklin', sans-serif;
  --nav-links: 'Open Sans', sans-serif; /*400*/
  --nav-connect: 'Open Sans', sans-serif; /*300*/
  
  --about-hello: 'Bangers', cursive;
  --about-intro: 'Open Sans', sans-serif; /*800*/
  --about-button: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
