@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Franklin:wght@900&family=Open+Sans:wght@300;400;800&display=swap");

:root {
  --yellow: #ffdf2b;
  --green: #94dd26;
  --pink: #db006e;
  --gray: #999999;
  --white: #ffffff;
  --blue: #004aad;

  /* fonts */

  --nav-name-des: "Libre Franklin", sans-serif;
  --nav-links: "Open Sans", sans-serif; /*400*/
  --nav-connect: "Open Sans", sans-serif; /*300*/

  --home-hello: "Bangers", cursive;
  --home-intro: "Open Sans", sans-serif; /*800*/
  --home-button: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}
