.project-des {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.5s ease;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}

.project-des > .profile {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-des > .profile > .image {
  width: 90%;
}

.project-des > .profile > .image > img {
  width: 100%;
  transition: 0.5s ease;
}

.project-des > .profile > ul {
  width: 90%;
  font-size: 0;
  font-weight: 600;
  color: var(--blue);
  border: none;
  list-style-position: inside;
  padding: 20px;
  transition: 0.5s ease;
}

.project-des > .details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-des > .details > .title {
  text-transform: uppercase;
  font-size: 0;
  font-weight: 800;
  -webkit-text-stroke: 2px var(--blue);
  color: rgba(0, 0, 0, 0);
  text-align: center;
  transition: 0.5s ease;
}

.project-des > .details > .ability {
  font-weight: 600;
  color: var(--blue);
}

.project-des > .details > .ability > p {
  font-size: 0;
  text-align: center;
  transition: 0.5s ease;
}

.project-des > .details > .ability > ul {
  font-size: 0;
  transition: 0.5s ease;
}

.project-des > .details > footer > a {
  font-size: 0;
  color: var(--blue);
  font-weight: 200;
  letter-spacing: 4px;
  transition: 0.5s ease;
}

.project-des > .close-des {
  position: absolute;
  font-size: 60px;
  font-weight: 800;
  color: var(--blue);
  right: 15px;
  top: 0;
  cursor: pointer;
}
